/* tablet */
/* @media screen and (max-width:1024px){

} */

/* HEADER */
@media screen and (max-width:768px){
   header nav, header .top_links .language{
       display: none;
   }
   header .top_links li:nth-child(2){
       order:2;
    } 
    header .top_links li:nth-child(3){
        order:1;
    }
    header .top_links li:nth-child(4){
        order:3;
    }
    header{
    padding:15px 40px;
    }
    .mobile_menu_toggle{
        display: block;
    }
}
@media screen and (max-width:320px){
    header {
        background-color: var(--white);
    }
    header .top_links *{
        color:var(--primary-c);
    }
}