/* tablet */

@media screen and (max-width:1023px){
    .popup{
        width: 58vw;
    }
    /* ------------ COMMON HEADER ------------ */
        :root{
            --con-width : 100%;
        }
        header nav, header .top_links .language{
            display: none;
        }
        header .top_links li:nth-child(2){
            order:2;
        } 
        header .top_links li:nth-child(3){
            order:1;
        }
        header .top_links li:nth-child(4){
            order:3;
        }
        header{
            padding:15px 40px;
            background: #fff;
            box-shadow: 1px 1px 4px rgb(0 0 0 / 10%);
            
        }
        header .top_links *{
            color: var(--primary-c);
        }
        header .top_links .client{
            border-color: var(--primary-c);
        }
        .mobile_menu_toggle{
            display: block;
        }
        .mobile_menu_toggle{
            display: block;
        }
        header:hover{
            background-image: none;
            background-color: #fff;
        }
        .mobile_menu_close{
            display: block;
        }
    
    /* ------------ MAIN PAGE ------------ */
    /* common fz */
    .main_tt{
        font-size:5.8vw;
        line-height: calc(var(--line-height)*2.4);
        margin: 0 20px;
    }
    .content p.ko{
        font-size: 2.4vw;
        line-height: 4vw;
        margin: var(--line-height) 20px;
    }

    /* first section */
    .slide_container .controls.prev{
        margin-left: 0;
    }
    .slide_container .controls.next{
        margin-right: -15px;
    }
    #menu {
        display: none;
    }
    .my_mainslide .news_small .container{
        width: 100%;
        margin-left: 30px;
    }
    .my_mainslide .news_small .container .job_posting{
        display: none;
    }
    /* history section */
    .section .content{
        width: 100%;
        text-align: center;
        transform: none !important;
        margin: 0;
    }
    .section .content .read_more{
        margin: calc(var(--line-height)*2) auto;
        width: 100px;
    }
    .graph{
        width: 150%;
    }
    main .counters .counter_list{
        gap: 10px;
    }
    main .counters .counter_list li span {
        font-size: 6vw;
        margin-bottom: 4vw;
    }
    main .counters .counter_list li h3, main .counters .counter_list li h4{
        font-size: 3.5vw;
        margin-bottom: 6vw;
    }
    /* factory section */
    main .factory:after{
        transform: rotate(-90deg);
        left: 0;top: -550px;right: 0;
        background-size: 100%;
    }
    main .factory .content{
        left: 0;top:10%;
    }
    main .factory{
        background: url(../images/factory_mobile_bg2.png) no-repeat 0 /cover;
    }
    /* product section */
    main .products{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    main .products .prod_con_wrapper .content{
        padding-top:100px;
        width: 80vw;
    }
    main .products .prod_con_wrapper{
        width: 100vw;
        margin-bottom: 0;
    }
    main .products .category_wrapper .product_category ul{
        transform: none;
        height: 50vh;
    }
    main .products .category_wrapper{
        width: 100vw;
    }
    main .products .category_wrapper .product_category ul li a span:last-child{
        width: 40%;
    }
    main .products .product_category li{
        flex: none;
    }
    /* Certification section */
    main .certification .content ul{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 2vw;
    }
    .fp-overflow{
        overflow-y:auto;
    }
    main .certification .content > a{
        position: static;
    }
    /* main .certification{
        justify-content: space-between;
    } */
    /* main .certification .content{
        margin-bottom: var;
    } */
    .section_p.ko{
        margin-bottom: var(--line-height);
    }
    main .certification .content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    main .certification .content .card_desc{
        text-align: left;
    }
    main .certification .content li,main .certification .content img{
        width: 41vw;
    }
    main .certification .content .card_desc h3{
        font-size: 3vw;
    }
    main .certification .content .card_desc p{
        font-size: 1.7vw;
        margin-bottom: 0.9vw;
    }
    main .certification .content li:after{
        background-size: 10vw;
    }
    
    /* footer */
    footer .copyright div{
        justify-content: center;
    }
    /* footer .footer_menu .ft_container{
        width: 100vw;
    }
    footer .copyright {
        width: 100vw;
        margin: 0 auto;
    } */
    /* footer .footer_menu .container{
        width: 100vw;
    } */
    footer .copyright .container{
        width: 100vw
    }
    footer .footer_menu .ft_container .menu_link{
        margin: 0 auto;
        gap: 6vw;
    }
    footer .footer_menu .ft_container .menu_link li a{
        font-size: 14px;
    }
    footer .footer_menu .ft_container .menu_link li:after{
        display: none;
    }
    
    /* ------------ SUB PAGE BANNER (공통) ------------ */
    .banner .banner_wrapper .title_wrapper{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -70%);
        text-align: center;
    }
    .banner .banner_wrapper .title_wrapper .indicator{
        font-size: 2vw;
    }
    .banner .banner_wrapper .title_wrapper .main_tt{
        font-size: 5vw;
    }
    .banner .banner_wrapper{
        height: 260px;
    }
    /* .banner .banner_wrapper .sub_menu_area{
        width: 100vw;
    } */
    

    /* ------------ ABOUT US (sub page) ------------*/
    main > article{
        margin:60px;
    }
    .about_vision .vision_infographic ul{
        gap: 10px;
    }
    .about_vision .vision_infographic ul li:first-child{
        flex: 1;
        
    }
    .about_vision .vision_infographic ul li:nth-child(2){
        flex: 1;
        
    }
    .about_vision .vision_infographic ul li:last-child{
        flex: 1;
        
    }
    main > article .con_wrapper p{
        width: 80vw;
        
    }
    .about_vision .vision_infographic ul li div{
        width: 25vw;
        height: 25vw;
    }
    .about_vision .vision_infographic ul li div span{
        font-size:6vw ;
    }
    .about_vision .vision_infographic ul li div p:nth-child(2){
        font-size:4vw;
    }
    .about_vision .vision_infographic ul li div p:last-child{
        font-size:3vw;
    }
    .about_vision .vision_infographic ul li div:after{
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
    }
    .about_vision .vision_infographic ul li div{
        gap: 1.2vw;
    }
    .about_vision .vision_infographic ul li > p{
        font-size: 2.2vw;
        line-height: 3vw;
    }
    .banner .sub_menu_area .sub_wrapper .filter > a{
        padding: 0px 7.8vw 0px 3vw;
    }
    /* ------------ 재무정보 page ------------*/
    .chart-container { 
        width: 70vw;
        height: 40vw;
        border: 1px solid #ddd;
        padding: 5vw;
        border-radius: 4px;
        margin: var(--line-height) 0;
      }

      /* ------------ Client Portal ------------*/
      main section.client_section > h1{
        padding-top: calc(var(--line-height)*9);
      }
      .client_wrapper {
          flex-direction: column;
          gap: 2vw;
      }
}/*1023*/

    
/* small tablet */
 /* ------------ MAIN PAGE ------------ */
@media (max-width:768px){
    header .logo a{
        width: 100px;
        transform: none;
    }
    header{
        padding:8px 20px;
       
    }
    header .top_links li:nth-child(3){
        display: none;
    }
    /* first Section */
    .slide_container .controls{
        display: none;
    }
    .news_small{
        display: none;
    }
    .fp-slidesNav{
        bottom: 30px !important;
    }

    .main_tt{
        font-size: 6.5vw;
        line-height: 6vw;
    }
    
    .my_mainslide .slide_container .slide .content p.ko,.content p.ko{
        font-size: 3.2vw;
        line-height: 5vw;
    }
    .plus_btn{
        display: block;
    }
    /* history section */
    main .counters .counter_list li span {
        font-size: 9vw;
    }
    main .counters .counter_list li h3, main .counters .counter_list li h4{
        font-size: 5vw;
    }
    main .counters .counter_list li h4:after{
        display: none;
    }
    /* factory section */
    /* product section */
    main .products .category_wrapper .product_category ul li a span:first-child{
        font-size: 3.5vw;
    }
    /* certification */
    main .certification .content .card_desc{
        margin: 4vw 7vw;
    }
    main .certification .content .card_desc h3:before{
        display: none;
    }
    main .certification .content .card_desc h3{
        margin-bottom: 2vw;
    }
    main .certification .content .card_desc a{
        font-size: 1.8vw;
    }
    /* footer */
    footer .footer_menu{
        /* height: 15vw; */
        display: flex;
        align-items: center;
    }
    footer .footer_menu .ft_container{
        flex-direction: column;
        gap: 30px;
    }
    
    footer .footer_menu .ft_container .social_link{
        margin: 0 auto;
        border-style: none;
        height: auto;
        
    }
    
    /* ------------ ABOUT US (sub page) ------------ */
    .banner .sub_menu_area .sub_wrapper .filter > a{
        padding: 0px 3.9vw 0px 3.9vw;
    }
    .banner .sub_menu_area a {
        padding: 0 15px;
    }
    .banner .sub_menu_area .sub_wrapper .filter > a {
        padding: 0px 2vw 0px 5vw;
    }
    .banner .sub_menu_area .sub_wrapper > a{
        display: none;
    }
    .banner{
        margin-top: 50px;
    }
    /* ------------ 재무정보 ------------ */
    .tab-menu li a{
        padding: 0.5vw 5.2vw;
    }
    /* ------------ Client Portal ------------ */
    .client_section h1{
        font-size: calc(var(--body-fz)*2.667);
        margin: 0 50px;
        text-align: center;
        /* padding-top:calc(var(--line-height)*5); */
    }
    .client_section .client_wrapper{
        margin-top: 40px;
    }
    .client_section .client_wrapper div{
        width: 80vw;
        height: 60vw;
    }
    footer .footer_menu{
        margin-top: 20vw;
    }

}/*768*/
@media (max-width:564px){
    /* ------------ MAIN Certification ------------ */
    main .certification .content ul{
        flex-direction: column;
    }
    main .certification .content li, main .certification .content img{
        width: 70vw;
        height: 35vw;
    }
    main .certification .title{
        margin: calc(var(--line-height)*5) 0 calc(var(--line-height)*1.5);
    }
    main .certification .content > a{
        margin-bottom: 10px;
    }
    main .certification .content{
        gap: 15px;
    }
    .section_p.ko{
        margin-bottom: 0;
    }
    main .certification .content .card_desc h3{
        font-size: 4.5vw;
    }
    main .certification .content .card_desc p{
        font-size: 3vw;
    }
    main .certification .content .card_desc a{
        font-size: 3vw;
    }
    main .certification .content .card_desc{
        margin: 6vw 9vw;
    }
    /* Subpage banner */
    .banner .sub_menu_area .sub_wrapper .filter > a {
        padding: 0px 1vw 0px 3vw;
    }
    .banner .sub_menu_area .sub_wrapper a,.banner .sub_menu.sticky .sub_menu_area > a{
        font-size: 17px;
    }
    .banner .sub_menu_area .sub_wrapper .filter button{
        margin-right: 0;
    }
    .banner .sub_menu_area .sub_wrapper{
        flex: 2;
    }
    .banner .sub_menu_area .sub_wrapper .first_filter{
        flex: 1;
    }
    .banner .sub_menu_area .sub_wrapper .second_filter{
        flex: 1;
        border-right: 0;
    }
    .banner .sub_menu_area > a{
        flex: 1;
        font-size:17px;
    }
    .banner .banner_wrapper .title_wrapper .main_tt{
        font-size: 7vw;
    }
    /* ------------ Client Portal ------------ */
    
    main section.client_section > h1{
        padding-top: calc(var(--line-height)*4);
        font-size: calc(var(--body-fz)*2);
    }
    .client_wrapper div h1{
        font-size: calc(var(--body-fz)*1.6);
    }
    .client_wrapper div h2{
        font-size: calc(var(--body-fz)*1.8);
    }
    .client_wrapper div a{
        padding: 1.6vw;

    }
}/*564*/

/* mobile */
@media (max-width:468px){
    /* ------------ SEARCH FILED ------------ */
    .search_field fieldset form .search_box{
        width: 66vw;
    }
    /* history */
    main .counters .counter_list{
        flex-direction: row;
        flex-wrap: wrap;
    }
    main .counters .counter_list li{
        width: 40vw;
        padding: 15px 0;
    }
    .section .content .read_more{
        width: 17vw;
    }
    main .factory:after{
        width: 100%;
        height: 100%;
        top: -210px;
    }
    main .history .content{
        padding-top: 25vw;
    }
    
   /* certification */
    
    main .certification .content .card_desc h3{
        margin-bottom: 2vw;
    }
    main .certification .content .card_desc p{
        margin-bottom: 0;
    }
    main .certification .content .card_desc a{
        font-size:1.8vw;
    }
    .section_p.ko{
        font-size: 3.8vw;
    }
    main .certification .content > a{
        font-size: 3.5vw;
    }
    footer .footer_menu .ft_container .menu_link{
        gap: 4vw;
    }
    footer .footer_menu .ft_container .menu_link li a{
        font-size: 12px;
    }
    footer .copyright div address p{
        font-size: 12px;
    }
    footer .copyright div address small{
        font-size: 8px;
    }
    footer .copyright div .footer_logo,footer .copyright div address hr{
        display: none;
    }
    footer .copyright{
        height: 30vw;
        text-align: center;
        padding:5px 10px;
    }
    /* ABOUT US */
        /* banner */
    .banner .sub_menu_area .sub_wrapper .filter > a {
        padding: 0px 1vw 0px 2vw;
    }
    .banner .sub_menu_area .sub_wrapper a,.banner .sub_menu.sticky .sub_menu_area > a{
        font-size: 15px;
    }
    .banner .sub_menu_area .sub_wrapper .filter button{
        margin-right: 0;
    }
    .banner .sub_menu_area .sub_wrapper{
        flex: 2;
    }
    .banner .sub_menu_area .sub_wrapper .first_filter{
        flex: 1;
    }
    .banner .sub_menu_area .sub_wrapper .second_filter{
        flex: 1;
        border-right: 0;
    }
    .banner .sub_menu_area > a{
        flex: 1;
        font-size:12px;
    }
    .banner .banner_wrapper .title_wrapper .main_tt{
        font-size: 7vw;
    }
    main article .main_tt{
        line-height: calc(var(--line-height)*1.7);
    }
    main article .con_wrapper h3.ko{
        font-size: 21px;
        line-height: calc(var(--line-height)*1.3); */
    }
    main .about_intro .con_wrapper h3.ko em{
        font-size: 24px;
    }
    main > article .con_wrapper p{
    font-size: 15px;
    }
    main > article .con_wrapper p.indent{
        margin-left: 0;
    }
    main > article .con_wrapper p{
        width: auto;
    }
    .banner .sub_menu.sticky .sub_menu_area > a{
        font-size: 12px;
    }
    .banner .sub_menu_area > a span{
        font-size: 20px;
    }
    .about_vision .vision_infographic ul{
        transform: translateX(-5%);
    }


}/* 468 */
@media (max-width:375px){
    /* MAIN */
    main .factory:after{
        top: -140px;
    }
    main .products .prod_con_wrapper .content{
        padding-top: 80px;
    }
    main .certification .title{
        margin: auto;
        
    }
    main .certification{
        transform: translateY(9%);
    }
    .banner .sub_menu_area .sub_wrapper{
        flex: 1;
    }
    .banner .sub_menu_area > a{
        flex: 1;
    }
    .banner .sub_menu_area .sub_wrapper .first_filter{
        display: none;
    }
    .banner .sub_menu_area .sub_wrapper .filter > a{
        padding: 0 25px;
        
    }
    .banner .sub_menu_area a{
        padding: 0;
        text-align: center;
    }
    .banner .sub_menu_area .sub_wrapper .filter .sub_menu_list li a{
        margin-left: 23px;
    }
    .banner .sub_menu_area > a span{
        font-size: 18px;
    }
    .about_vision .image_container{
        display: none;
    }
    .about_vision .vision_infographic ul{
        transform: translateX(-10%);
    }
    /* display: inline-block; */
     /* ------------ Client Portal ------------ */
    
     main section.client_section > h1{
        padding-top: calc(var(--line-height)*3.4);
        font-size: calc(var(--body-fz)*1.4);
    }
    .client_wrapper div h1{
        font-size: calc(var(--body-fz)*1.3);
    }
    .client_wrapper div h2{
        font-size: calc(var(--body-fz)*1.4);
    }
    .client_wrapper div a{
        padding: 0.9vw;
    }
    .client_wrapper div{
        gap: calc(var(--line-height)*0.7);
    }
}/* 375 IphoneSE*/


/* 구간 : 
1023, 768, 564, 468, 375 */